# FastAPI Framework
fastapi
uvicorn

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

# Data Validation
pydantic[email]
email-validator

# MongoDB
pymongo
motor

# AWS S3
boto3
botocore

# Image Processing
opencv-python
Pillow
numpy

# OpenAI for Vision API
openai

# Google Cloud APIs (Optional - can be skipped if not using OCR/Pathology)
google-cloud-vision
google-generativeai

# MongoDB connection string parsing
dnspython

# Environment variables
python-dotenv
fitz

# Requests (for API calls)
requests

# LangChain & LangGraph
langgraph
langchain
langchain_openai
langchain_anthropic
langchain_text_splitters
langchain_chroma
langchain_core
langchain_google_genai
langchain-community

biopython
faiss-cpu
sentence-transformers
PyPDF2
python-docx